.btn {
  display: inline-block;
  background-color: $yellow-secondary;
  border: 2px solid $yellow-secondary;  
  padding: 15px 60px;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray-dark;
  letter-spacing: 1px;
  transition: 0.2s all;

  &:hover {
    background-color: transparent;
    border-color: $gray-dark;
  }
}

.btn--outlined {
  border: 2px solid $gray-dark;
  background: transparent;
  @include font-size(1.6);  
  letter-spacing: 2px;
  padding: 15px 30px;

  &:hover {
    border-color: $yellow-secondary;
    background-color: $yellow-secondary;

  }  
}

.link-arrow {
  @include font-size(1.355);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  &:after {
    content: url(../img/svg/arrow.svg);
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
  }
  &:hover:after {
    margin-left: 15px;
  }
  &:hover {
    color: #000;
  }  
}