.btn {
  display: inline-block;
  background-color: $yellow-secondary;
  border: 2px solid $yellow-secondary;  
  padding: 15px 50px 11px;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray-dark;
  letter-spacing: 1px;
  transition: 0.2s all;
  @include font-size(1.4);

  &:hover {
    background-color: transparent;
    border-color: $gray-dark;
  }

  @media (max-width: 500px){
    padding: 15px 20px 11px;

  }
}

.btn--outlined {
  border: 2px solid $gray-dark;
  background: transparent;
  @include font-size(1.6);  
  letter-spacing: 2px;
  padding: 13px 30px 9px;

  &:hover {
    border-color: $yellow-secondary;
    background-color: $yellow-secondary;

  }  
}

.btn--outlined-white {
  border: 2px solid $white;
  color: $white;
  background: transparent;
  &:hover {
    border-color: $white;
    background-color: $white;
    color: $gray-medium;
  }  
}

.btn--small {
    @include font-size(1.4);  
    padding: 10px 20px 6px;
    @media (max-width: 1000px) {
      @include font-size(1.2);
    }
}

.btn--fluid {
  width: 100% !important;
}
.link-arrow {
  @include font-size(1.355);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  &:after {
    content: url(../img/svg/arrow.svg);
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
  }
  &:hover:after {
    margin-left: 15px;
  }
  &:hover {
    color: #000;
  }  
}