.btn {
  display: inline-block;
  background-color: $yellow-secondary;
  border: 2px solid $yellow-secondary;  
  padding: 1.5rem 5rem;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray-dark;
}

.btn--outlined {
  border: 2px solid $gray-dark;
  background: transparent;
  @include font-size(1.6);  
  letter-spacing: 2px;
  padding: 1.5rem 3rem;
}