/*------------------------------------*\
    Layout/structure
\*------------------------------------*/

html { 
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: $base-font;
  font-weight: 300;
  color: $gray-dark;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include font-size(1.4);
  background-image: url('../img/svg/leaves-right.svg');
  background-position: 100% 97%;
  background-repeat: no-repeat;
}

.yellow {
  background-color: $yellow-primary;
}

.double-bg {
  background-image: url('../img/svg/leaves-right.svg'), url('../img/svg/leaves-left.svg');
  background-position: 100% 97%, 0% 75%;  
}

.double-bg2 {
  background-image: url('../img/svg/leaves-right.svg'), url('../img/svg/leaves-left.svg');
  background-position: 100% 97%, 0% 25%;  
}


img {
  width: 100%;
}

.container {
  max-width: $base-width;
  width: 100%;
  margin: 0 auto;
  clear: both;
}

h1, .h1 {
  @include font-size(4.6);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 0; 
}

h2, .h2     {
  @include font-size(2.4);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px;

  @media (max-width: 550px) {
    @include font-size(1.8);  
  }   
}

h3, .h3 {
  @include font-size(1.8);
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;   
}

h4, .h4 {
  @include font-size(1.4);
  line-height: 18px;
  text-transform: uppercase;  
  font-weight: normal;
  letter-spacing: 1.5px;

}

hr.small {
  width: 20%;
  margin-bottom: 20px;
  border-bottom: none;
  border-top: 1px solid #979797;
}

hr.medium{
  width: 50%;
  margin-bottom: 20px;
  border-bottom: none;
  border-top: 1px solid #979797;
}

p, a {
  @include font-size(1.8);
  line-height: 24px;
}

a {
  color: $gray-dark;  
  &:hover {
    color: $black;
  }  
}

.row {
  @include clearfix;
}

.padding--no-top {
  padding-top: 0 !important;
}

.padding--no-bottom {
  padding-bottom: 0 !important;
}

.margin--no-top {
  margin-top: 0 !important;
}

.margin--no-bottom {
  margin-bottom: 0 !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: right;
}