/*------------------------------------*\
    Global variables
\*------------------------------------*/
/*------------------------------------*\
    Mixins
\*------------------------------------*/
/*------------------------------------*\
    Layout/structure
\*------------------------------------*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: #707070; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  background-image: url("../img/svg/leaves-right.svg");
  background-position: 100% 97%;
  background-repeat: no-repeat; }

.double-bg {
  background-image: url("../img/svg/leaves-right.svg"), url("../img/svg/leaves-left.svg");
  background-position: 100% 97%, 0% 75%; }

img {
  width: 100%; }

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  clear: both; }

h1, .h1 {
  font-size: 46px;
  font-size: 4.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 0; }

h2, .h2 {
  font-size: 24px;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 0; }

h3, .h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0; }

h4, .h4 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.5px; }

hr.small {
  width: 20%;
  margin-bottom: 20px;
  border-bottom: none;
  border-top: 1px solid #979797; }

p, a {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px; }

a {
  color: #707070; }
  a:hover {
    color: #000; }

.padding--no-top {
  padding-top: 0 !important; }

.padding--no-bottom {
  padding-bottom: 0 !important; }

.margin--no-top {
  margin-top: 0 !important; }

.margin--no-bottom {
  margin-bottom: 0 !important; }

.pull-right {
  float: right; }

.pull-left {
  float: right; }

.btn {
  display: inline-block;
  background-color: #FEDE59;
  border: 2px solid #FEDE59;
  padding: 15px 60px;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
  letter-spacing: 1px;
  transition: 0.2s all; }
  .btn:hover {
    background-color: transparent;
    border-color: #707070; }

.btn--outlined {
  border: 2px solid #707070;
  background: transparent;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding: 15px 30px; }
  .btn--outlined:hover {
    border-color: #FEDE59;
    background-color: #FEDE59; }

.link-arrow {
  font-size: 13.55px;
  font-size: 1.355rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none; }
  .link-arrow:after {
    content: url(../img/svg/arrow.svg);
    margin-left: 10px;
    transition: all 0.2s ease-in-out; }
  .link-arrow:hover:after {
    margin-left: 15px; }
  .link-arrow:hover {
    color: #000; }

.contact-form {
  margin: 60px auto; }
  .contact-form h3 {
    letter-spacing: 3.33px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px; }

form {
  width: 65%;
  margin: 0 auto;
  text-align: center; }

input[type='text'], input[type='email'] {
  width: 48%;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid #ccc;
  float: left;
  text-transform: uppercase;
  color: #707070; }

input[type='name'] {
  float: left; }

input[type='email'] {
  float: right; }

textarea {
  width: 100%;
  text-transform: uppercase;
  color: #707070;
  margin: 30px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 15px; }

.header {
  height: 120px;
  padding-top: 40px;
  position: relative;
  letter-spacing: 1px; }

.logo {
  width: 185px;
  height: 49px;
  display: block;
  background-image: url(../img/svg/logo.svg);
  text-indent: -9999px;
  float: left; }

.main-nav {
  list-stye: none;
  float: left; }

.main-nav__item {
  display: inline; }
  .main-nav__item a {
    text-transform: uppercase;
    text-decoration: none;
    color: #707070;
    margin-right: 3rem;
    transition: all 0.2s ease-in-out; }
    .main-nav__item a:hover {
      color: #000; }

.main-nav__trigger {
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-top: 10px; }
  .main-nav__trigger .line {
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 4px;
    border-radius: 20px;
    background: #707070;
    transition: all 0.2s ease-in-out; }
  .main-nav__trigger .line.one {
    transform: scale(1);
    opacity: 1; }
  .main-nav__trigger .line.two {
    top: 8px;
    transform: scale(1);
    opacity: 1; }
  .main-nav__trigger .line.three {
    top: 16px;
    transform: scale(1);
    opacity: 1; }
  .main-nav__trigger:hover .line {
    background: #000; }
  .main-nav__trigger.close .line.one {
    transform: rotate(45deg);
    top: 38px; }
  .main-nav__trigger.close .line.two {
    width: 0;
    transform: scale(0);
    opacity: 0; }
  .main-nav__trigger.close .line.three {
    transform: rotate(45deg);
    top: 38px; }

.main-nav__trigger::after {
  content: "More";
  position: relative;
  padding-left: 30px;
  top: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin-right: 3rem; }

.main-nav__trigger:hover::after {
  color: #000; }

/*------------------------------------*\
    CTA Bar
\*------------------------------------*/
.cta-bar {
  height: 40px;
  background-color: #FEDE59;
  text-align: center;
  position: relative; }
  .cta-bar a {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  @media (max-width: 768px) {
    .cta-bar {
      display: none; } }

/*------------------------------------*\
    Hero
\*------------------------------------*/
.hero {
  max-height: 570px;
  width: 100%;
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 20%; }
  .hero h1 {
    font-size: 36px;
    font-size: 3.6rem;
    letter-spacing: 4.5px;
    color: #fff;
    text-align: center;
    padding-top: 80px;
    margin-top: 0; }

.hero--home h1 {
  padding-top: 115px; }

.hero--large-heading h1 {
  font-size: 48px;
  font-size: 4.8rem;
  letter-spacing: 5.6px; }

/*------------------------------------*\
    Section
\*------------------------------------*/
.content {
  background-image: url("../img/svg/leaves-colored.svg");
  background-repeat: no-repeat;
  background-position: 50% 100px;
  padding: 120px 30px 0 30px;
  height: 100%;
  *zoom: 1; }
  .content:before, .content:after {
    content: "";
    display: table; }
  .content:after {
    clear: both; }
  .content h1, .content h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 0; }
  .content .container {
    height: 100%; }

.content-body {
  max-width: 735px;
  margin: 0 auto 120px auto;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  color: #7B7B7B;
  *zoom: 1; }
  .content-body:before, .content-body:after {
    content: "";
    display: table; }
  .content-body:after {
    clear: both; }

.content--yellow {
  background-color: #F9E35F;
  background-image: url("../img/svg/leaves.svg"); }

.content--no-bg {
  background-image: none; }

.content--less-bottom {
  margin-bottom: 60px; }

.content--full {
  padding-left: 0;
  padding-right: 0; }

.content--home {
  background-position: 50% 300px; }
  .content--home .h2 {
    font-weight: normal;
    letter-spacing: 8px; }

/*------------------------------------*\
    COMMUNITIES PAGE
\*------------------------------------*/
.communities-list {
  padding: 0 30px;
  height: 100%; }

.community-small {
  max-width: 460px;
  background-color: #F9E35F;
  position: relative;
  margin-bottom: 30px;
  float: left;
  box-shadow: 5px 5px 15px #ebebeb; }
  @media (max-width: 800px) {
    .community-small {
      width: 90%;
      float: none;
      margin: 0 auto 30px; } }

.community-small p {
  padding: 30px 48px;
  font-size: 17.51px;
  font-size: 1.751rem;
  line-height: 22px; }

.community-small a {
  display: block;
  padding: 0px 0 40px 48px;
  color: #707070;
  font-size: 13.22px;
  font-size: 1.322rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px; }

.community-image {
  height: 300px;
  position: relative;
  color: white;
  background-image: url(../img/lakenona.jpg);
  background-size: cover; }
  .community-image h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: normal;
    left: 0;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0; }

.community-small:nth-child(even) {
  float: right; }
  @media (max-width: 800px) {
    .community-small:nth-child(even) {
      float: none; } }

.community-small:nth-child(2) {
  float: right;
  margin-top: 180px; }
  @media (max-width: 800px) {
    .community-small:nth-child(2) {
      float: none;
      margin-top: 0; } }

/*------------------------------------*\
    COMMUNITY PAGE
\*------------------------------------*/
.community {
  position: relative;
  background-color: #F9E35F; }
  .community .container {
    position: relative; }
  .community h1 {
    color: #fff;
    text-align: center;
    font-weight: normal;
    padding-top: 130px; }
  .community .community-sidebar {
    width: 24%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/svg/leaves-branch.svg);
    height: 550px;
    background-position: 250% 300%;
    background-repeat: no-repeat;
    text-align: center; }
  .community .community-description {
    background-color: #fff;
    width: 76%;
    padding: 40px 70px 50px 50px;
    float: right;
    margin-top: -275px;
    *zoom: 1; }
    .community .community-description:before, .community .community-description:after {
      content: "";
      display: table; }
    .community .community-description:after {
      clear: both; }
  .community .community-additional-links {
    margin-top: 50px; }
  .community .community-neighborhoods {
    background-color: #F2F2F2;
    padding: 30px 0;
    margin-top: 200px;
    clear: both; }
    .community .community-neighborhoods h3 {
      text-align: center; }
    .community .community-neighborhoods ul {
      font-weight: bold;
      list-style: none;
      margin-top: 30px;
      -webkit-column-count: 3;
      /* Chrome, Safari, Opera */
      -moz-column-count: 3;
      /* Firefox */
      column-count: 3;
      -webkit-column-gap: 40px;
      /* Chrome, Safari, Opera */
      -moz-column-gap: 40px;
      /* Firefox */
      column-gap: 40px; }
      .community .community-neighborhoods ul li {
        margin-bottom: 10px; }
        .community .community-neighborhoods ul li a {
          font-size: 14px;
          font-size: 1.4rem;
          text-decoration: none;
          transition: all 0.2s ease-in-out; }
          .community .community-neighborhoods ul li a:hover {
            color: #000; }
          .community .community-neighborhoods ul li a:hover:after {
            content: url(../img/svg/arrow.svg);
            margin-left: 10px; }

.statistics {
  padding-top: 60px; }
  .statistics .statistic {
    padding-bottom: 50px; }
    .statistics .statistic h4 {
      margin: 10px 0; }
    .statistics .statistic span {
      font-size: 48px;
      font-size: 4.8rem; }

/*------------------------------------*\
    TEAM PAGE
\*------------------------------------*/
.team-member {
  height: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .team-member .container {
    height: 100%;
    position: relative; }

.team-member-description,
.team-member-description--right,
.team-member-description--left {
  max-width: 320px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.team-member-description--right {
  right: 0; }

/*------------------------------------*\
    CONTACT PAGE
\*------------------------------------*/
.map {
  max-width: 472px;
  float: left;
  border: 10px solid #fff;
  margin-top: -220px; }

.contact-info {
  text-align: left;
  float: right; }

.contact-info a {
  text-decoration: none; }

.contact-info, .contact-info a {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px; }

.address, .phone, .fax, .email {
  display: block;
  letter-spacing: 1.5px; }

.address, .fax {
  margin-bottom: 20px; }

footer {
  margin: 60px 0 25px 0;
  text-align: center;
  position: relative; }

.logo-footer {
  width: 44%; }

.social-links {
  list-style-type: none;
  margin-top: 40px;
  padding-left: 0; }
  .social-links li {
    display: inline-block;
    margin-right: 20px; }
    .social-links li:last-child {
      margin-right: 0; }

.footer-bottom {
  text-align: left;
  margin-top: 120px;
  *zoom: 1; }
  .footer-bottom:before, .footer-bottom:after {
    content: "";
    display: table; }
  .footer-bottom:after {
    clear: both; }

.copyright {
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: left;
  margin-left: 20px; }

.footer-logos {
  width: 179px;
  height: 41px;
  float: left; }

.icon {
  width: 32px;
  height: 31px;
  display: block;
  background-size: contain;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .icon:hover {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px); }

.icon-facebook {
  background-image: url(../img/svg/icons/facebook.svg); }

.icon-instagram {
  width: 30px;
  height: 30px;
  background-image: url(../img/svg/icons/instagram.svg); }

.icon-vimeo {
  background-image: url(../img/svg/icons/vimeo.svg); }

/*# sourceMappingURL=style.css.map */
